.hljs {
    color: #bfafb8 !important;
}

.hljs-keyword,
.hljs-built_in,
.hljs-type,
.hljs-symbol,
.hljs-class,
.hljs-function,
.hljs-tag,
.hljs-variable,
.hljs-builtin-name,
.hljs-bullet,
.hljs-section,
.hljs-template-tag, .hljs-selector-tag {
    color: #e500bb !important;
}

.hljs-selector-class {
        color: #d179c0 !important;
}

.hljs-emphasis,
.hljs-strong {
    color: #f4b0ef !important;
}

.hljs-title,
.hljs-name, .hljs-selector-id {
    color: #fc46db !important;
}

.hljs-string,
.hljs-code,
.hljs-quote,
.hljs-formula,
.hljs-template-variable, .hljs-selector-attr {
    color: #b54f87 !important;
}

.hljs-addition {
    color: #ffaff8 !important;
}

.hljs-deletion {
    color: #9e065e !important;
}

.hljs-literal {
    color: #ff00EE !important;
}

.hljs-regexp,
.hljs-link {
    color: #d62471 !important;
}

.hljs-subst, .hljs-selector-pseudo {
    color: #8c3d68 !important;
}

.hljs-number {
    color: #e50b83 !important;
}

.hljs-params {
    color: #bf00af !important;
}

.hljs-doctag,
.hljs-meta,
.hljs-meta-keyword,
.hljs-meta-string,
.hljs-comment {
    color: #635462 !important;
}

.hljs-attr,
.hljs-attribute {
    color: #ff70f3 !important;
}