[id*="emoji-picker"] {
  //width: 64px !important;
  & > [class*="image-"] {
    width: 48px !important;
    height: 48px !important;
    background-size: 40px !important;
  }
}

[class*="messageContent-"] > .emoji {
  width: 3rem;
  height: 3rem;
}
.emoji.jumboable {
  width: 4rem;
  height: 4rem;
}

// [class*="drawerSizingWrapper"] {
//   width: 1130px !important;
//   top: -100px;
//   & [class*='contentWrapper'] {
//     border-radius: 5px;
//   }
// }

// [class*="emojiPicker-"] {
//   width: 530px;
// }

[class*='emojiItemMedium-'] {
  width: 48px;
  height: 48px;
}

[class*="emojiListRowMedium"] {
  grid-template-columns: repeat(auto-fill, 50px);
  grid-auto-flow: row;
  height: auto;
}