.scroller-3X7KbA {
	background-color: var(--p-primary) !important;
}

.scroller-WSmht3 {
	background: black;
}

.scroller-2TZvBN {
	background: var(--p-primary);
}

[class*="homeIcon-"] {
    background: url(https://i.imgur.com/yeZEnGG.png) center/contain no-repeat;
	width: 35px;
	height: 35px;
	color:transparent;
}

[class*="childWrapper-"] {
	background-color: var(--p-secondary) !important;
}

.avatarWrapper-1B9FTW {
  margin-right: 0px;
}
.withTagAsButton-OsgQ9L, .withTagless-10ooWt {
  min-width: 95px;
}

.panels-3wFtMD {
	background-color: var(--p-secondary);
}

.container-YkUktl {
  background: none !important;
}

[class*="flex-"] > button {
    margin: 0px 4px;
}

.button-12Fmur[aria-label="Noise Suppression powered by Krisp"], .button-12Fmur[aria-label="Disconnect"] {
	color: black;
}

.buttonIcon-2Zsrs2.withText-2iJppd {
	margin-right: 4px;
}

.panels-3wFtMD[aria-label="User area"] > .wrapper-3Hk9OB > .container-1zzFcN > .connection-3k9QeF > .inner-llGtyq > div > a > .size12-oc4dx4.subtext-2HDqJ7.channel-3prF2u {
	color: #4F5660;
}

.panels-3wFtMD[aria-label="User area"] > .wrapper-3Hk9OB > .container-1zzFcN > .actionButtons-2vEOUh > .button-1EGGcP {
	background-color: var(--p-teriary);
	border-radius: 0;
	border: .4vh solid;
	border-color: var(--p-secondary) !important;
	height: 36px;
	color: black;
}

/* screenshare colour fixes */
.headerWrapper-1ULEPv > .theme-dark.container-ZMc96U.transparent-1lUmft > .children-3xh0VB > .iconWrapper-2awDjA > svg {
	color: white !important;
}

.headerWrapper-1ULEPv > .theme-dark.container-ZMc96U.transparent-1lUmft > .toolbar-3_r2xA > .iconWrapper-2awDjA > svg {
	color: white !important;
}

/* profile */
.userPopout-2j1gM4 {
	background-color: var(--p-primary) !important;
	border: .4vh solid;
	border-color: var(--p-secondary) !important;
	border-radius: 0;
}

.avatar-2Vndt_ {
	background-color: var(--p-primary);
	border-color: var(--p-primary);
}

.avatar-2Vndt_ > .mask-1FEkla.svg-2azL_l > rect.pointerEvents-9SZWKj[fill="hsl(38, calc(var(--saturation-factor, 1) * 95.7%), 54.1%)"] {
	fill: var(--p-teriary);
}

.bodyInnerWrapper-2bQs1k {
	background-color: white !important;
	border: .4vh solid;
	border-color: var(--p-secondary) !important;
	padding: 4px;
}

.bodyInnerWrapper-2bQs1k > .bodyTitle-2Az3VQ {
	color: #4F5660;
}

.bodyInnerWrapper-2bQs1k > .root-jbEB5E > .role-2TIOKu {
	color: black;
	background-color: #EBEDEF;
}

.textarea-_59yqs {
	background-color: transparent !important;
	padding: 0 0 0 15px;
}

.bodyTitle-2Az3VQ.base-21yXnu.size12-oc4dx4.muted-eZM05q.uppercase-2unHJn {
	padding: 10px 0 0 10px;
}

.profileBadges-2pItdR {
	background-color: black;
	border-radius: 0;
	border: .4vh solid;
	border-color: var(--p-secondary) !important;
	padding: 1px;
}

.footer-3naVBw {
	background-color: var(--p-primary);
}

.inputDefault-3FGxgL.input-2g-os5.input-2z42oC {
	background-color: var(--background-primary);
	border-radius: 0;
	border: .4vh solid;
	border-color: var(--p-secondary) !important;
}

.bodyInnerWrapper-2bQs1k > .note-Go5ZP2 > textarea {
	color: #4F5660;
}

.username-3JLfHz.headerTagUsernameNoNickname-1TjuLc.headerTagUsernameBase-XYisdh, .customStatusText-3wj79x, .userInfoBody-1zgAd0.markup-eYLPri.clamped-2ZePhX {
	color: black;
}

.headerTagDiscriminatorNoNickname-dfcvHa.discrimBase-1VOoau, .userInfoTitle-39qq0Y.base-21yXnu.size12-oc4dx4.muted-eZM05q.uppercase-2unHJn {
	color: #4F5660;
}

.userPopout-2j1gM4 > .headerTop-3GPUSF > .headerText-1-WmDq > .nickname-t08Mck {
	color: black;
}

.userPopout-2j1gM4 > .headerTop-3GPUSF > .headerText-1-WmDq > .headerTagWithNickname-1U8zZH > span {
	color: #4F5660;
}

.activityUserPopout-2MzGCj.activity-1gTu-L.newPopoutActivityStyles > div > h3 > div {
	color: #4F5660;
}

.activityUserPopout-2MzGCj.activity-1gTu-L.newPopoutActivityStyles > div > div > span {
	color: black !important;
}

.activityUserPopout-2MzGCj.activity-1gTu-L.newPopoutActivityStyles > div > div > h3 > span {
	color: black !important;
}

/* expanded profile thing like the one when you click on the pfp */
.focusLock-2tveLW > .root-8LYsGj.root-g14mjS.small-23Atuv.fullscreenOnMobile-ixj0e3 {
	border-radius: 0;
	border: .4vh solid;
	border-color: var(--p-secondary) !important;
}

.focusLock-2tveLW > .root-8LYsGj.root-g14mjS.small-23Atuv.fullscreenOnMobile-ixj0e3 > .topSection-13QKHs, .focusLock-2tveLW > .root-8LYsGj.root-g14mjS.small-23Atuv.fullscreenOnMobile-ixj0e3 > .body-1Ukv50 {
	background-color: var(--p-primary) !important;
}

.topSection-13QKHs > header > .header-S26rhB > div > .avatar-3QF_VA.wrapper-1VLyxH {
	background-color: var(--p-primary) !important;
	border-color: var(--p-primary);
}

.topSection-13QKHs > header > .header-S26rhB > div > .avatar-3QF_VA.wrapper-1VLyxH > svg > rect[fill="hsl(38, calc(var(--saturation-factor, 1) * 95.7%), 54.1%)"] {
	fill: var(--p-teriary);
}

.focusLock-2tveLW > .root-8LYsGj.root-g14mjS.small-23Atuv.fullscreenOnMobile-ixj0e3 > .topSection-13QKHs > .tabBarContainer-sCZC4w > .tabBar-2hXqzU.top-K_jibn {
	height: 45px;
}

.focusLock-2tveLW > .root-8LYsGj.root-g14mjS.small-23Atuv.fullscreenOnMobile-ixj0e3 > .topSection-13QKHs > .tabBarContainer-sCZC4w > .tabBar-2hXqzU.top-K_jibn > .tabBarItem-30Te4-.item-3XjbnG.themed-2-lozF {
	background-color: var(--p-teriary);
	border: .4vh solid;
	border-color: var(--p-secondary) !important;
	color: black;
	margin: 0 5px 8px 5px;
	padding: 8px;
}

.headerTop-1PNKck > .relationshipButtons-3ByBpj > .actionButton-iarQTd.button-f2h6uQ.lookFilled-yCfaCM.colorGreen-3y-Z79 {
	background-color: var(--p-teriary);
	border-radius: 0;
	border: .4vh solid;
	border-color: var(--p-secondary) !important;
	color: black !important;
	height: 35px;
}

.headerTop-1PNKck > .relationshipButtons-3ByBpj > div > svg > g {
	color: black !important;
}

.root-8LYsGj.root-g14mjS.small-23Atuv.fullscreenOnMobile-ixj0e3 > .topSection-13QKHs > header > .nameTagNoCustomStatus-3ocqoK.nameTag-2Nlmsy.nameTag-H6kSJ0 > .username-3JLfHz.username-1g6Iq1 {
	color: black !important;
}

.root-8LYsGj.root-g14mjS.small-23Atuv.fullscreenOnMobile-ixj0e3 > .topSection-13QKHs > header > .nameTagNoCustomStatus-3ocqoK.nameTag-2Nlmsy.nameTag-H6kSJ0 > .discriminator-1bqsd3, .userInfoSection-2u2hir > .userInfoSectionHeader-2mYYun {
	color: #4F5660;
}

.userInfoSection-2u2hir > .userInfoText-2MFCmH.markup-eYLPri.clamped-2ZePhX {
	color: black;
}

.userInfoSection-2u2hir > .connectedAccounts-1YaT2t > .connectedAccount-1xKpli {
	background-color: var(--background-primary) !important;
}

.userInfoSection-2u2hir > .connectedAccounts-1YaT2t > .connectedAccount-1xKpli {
	background-color: white;
	border-radius: 0;
	border: .4vh solid;
	border-color: var(--p-secondary) !important;
}

.userInfoSection-2u2hir > .note-3M15gE > textarea {
	background-color: var(--background-primary) !important;
	border: .4vh solid;
	border-color: var(--p-secondary) !important;
	border-radius: 0;
	padding: 6px;
}

.relationshipButtons-3ByBpj > .actionButton-iarQTd.button-f2h6uQ.lookFilled-yCfaCM.colorGreen-3y-Z79 > div {
	visibility: hidden;
	width: 40px;
}

.relationshipButtons-3ByBpj > .actionButton-iarQTd.button-f2h6uQ.lookFilled-yCfaCM.colorGreen-3y-Z79 > div:after {
	visibility: visible;
	content: "Pester";
	position: absolute;
	left: 10px;
}

.focusLock-2tveLW > .root-8LYsGj.root-g14mjS.small-23Atuv.fullscreenOnMobile-ixj0e3 > .topSection-13QKHs > .tabBarContainer-sCZC4w > .tabBar-2hXqzU.top-K_jibn > .tabBarItem-30Te4-.item-3XjbnG.themed-2-lozF[aria-controls="user_info-tab"] {
	visibility: hidden;
	overflow: visible;
}

.focusLock-2tveLW > .root-8LYsGj.root-g14mjS.small-23Atuv.fullscreenOnMobile-ixj0e3 > .topSection-13QKHs > .tabBarContainer-sCZC4w > .tabBar-2hXqzU.top-K_jibn > .tabBarItem-30Te4-.item-3XjbnG.themed-2-lozF[aria-controls="user_info-tab"]:after {
	visibility: visible;
	content: "Chum Info";
	position: absolute;
	left: 0;
	background-color: var(--p-teriary);
	border: .4vh solid;
	border-color: var(--p-secondary) !important;
	color: black;
	padding: 4px 4px;
}

.focusLock-2tveLW > .root-8LYsGj.root-g14mjS.small-23Atuv.fullscreenOnMobile-ixj0e3 > .topSection-13QKHs > .tabBarContainer-sCZC4w > .tabBar-2hXqzU.top-K_jibn > .tabBarItem-30Te4-.item-3XjbnG.themed-2-lozF[aria-controls="mutual_friends-tab"] {
	visibility: hidden;
	overflow: visible;
}

.focusLock-2tveLW > .root-8LYsGj.root-g14mjS.small-23Atuv.fullscreenOnMobile-ixj0e3 > .topSection-13QKHs > .tabBarContainer-sCZC4w > .tabBar-2hXqzU.top-K_jibn > .tabBarItem-30Te4-.item-3XjbnG.themed-2-lozF[aria-controls="mutual_friends-tab"]:after {
	visibility: visible;
	content: "Mutual Chums";
	position: absolute;
	left: 0;
	background-color: var(--p-teriary);
	border: .4vh solid;
	border-color: var(--p-secondary) !important;
	color: black;
	padding: 4px 6px;
}

.interactive-1vLZ_I, .content-1gYQeQ {
	transition: background-color 0.08s;
}