.header-3OsQeK:hover {
	background-color: var(--on-black-color) !important;
}

.header-2o-2hj, .title-338goq,  .header-3OsQeK{
  background-color: var(--p-secondary);
	color: var(--alt-active);
}

.platform-win .sidebar-1tnWFu {
  border-radius: 0px !important;
}

.acronym-2zrAHN {
	color: var(--server-icon-col) !important;
}

.container-1NXEtd {
  background-color: var(--p-primary) !important;
}

.name-28HaxV {
  color: white;
}

.modeMuted-2T4MDZ {
  color: #afafaf;
}