/**
 * @name Pesterchum Discord
 * @author Winter Clover#8124 + lumen & reed
 * @version 0.6.0
 * @description Emulates the look and feel of the chat clients shown within the webcomic Homestuck.
*/

@import url('https://winterclover.github.io/Pesterchum-Discord-Theme/fonts/stylesheet.css');
::placeholder, body, button, input, select, textarea, inline, code{font-family: 'courier_prime';}



.theme-dark, .theme-light{
	--font-primary: courier_prime, "Courier New", Courier, monospace;
	--font-display: courier_prime, "Courier New", Courier, monospace;
	--font-code: courier_prime, "Courier New", Courier, monospace;
	
	--l-normal: #D5B975;
    --l-hover: #EDDBB1;
    --l-active: #fff;
	
	--channels-alt: #8e9297;
    --alt-normal: #b9bbbe;
    --alt-hover: #dcddde;
    --alt-active: #fff;
    --alt-muted: #4f545c;
	
	--p-primary: #FDB302;
	--p-secondary: #C48A00;
	--p-teriary: #FFF700;

	--alt-modifier-hover: rgba(79,84,92,0.16);
    --alt-modifier-active: rgba(79,84,92,0.24);
    --alt-modifier-selected: rgba(79,84,92,0.32);
    --alt-modifier-accent: hsla(0,0%,100%,0.06);

	--on-black-color: rgba(40, 40, 40, 1);
}
.theme-dark {
	--background-primary: #232527;
	--background-secondary: #333537;
	--background-mentioned: rgba(250,166,26,0.15);
	--background-mentioned-hover: rgba(250,166,26,0.18);
	--background-message-hover: rgba(216,216,220,0.08);
	--scrollbar-auto-thumb: #40444A;
	
	--server-icon-col: white;
}
.theme-light {
	--channeltextarea-background: #fff;
	
	--background-modifier-hover: rgba(116,127,141,0.09);
    --background-modifier-active: rgba(116,127,141,0.18);
    --background-modifier-selected: rgba(116,127,141,0.27);
	--background-message-hover: rgba(6,6,7,0.06);
	
	--server-icon-col: black;
}

[class*="member-"] {
    background-color: var(--background-secondary) !important;
}

[class*="flex-"] > button {
    margin: 0px 4px;
}

/* home icon */
[class*="homeIcon-"] {
    background: url(https://i.imgur.com/yeZEnGG.png) center/contain no-repeat;
	width: 35px;
	height: 35px;
	color:transparent;
}

[class*="childWrapper-"] {
	background-color: var(--background-primary) !important;
}

/*Messages*/
 [class*="form-"] {
	background-color: var(--p-primary);
}
 [class*="form-"]:before {
	content: none;
}
 [class*="scrollableContainer-"] {
	border: .5vh solid;
	border-color: var(--p-secondary);
	border-radius: 0px;
}
 [class*="channelTextAreaDisabled-"] {
	background-color: var(--p-secondary);
	border-radius: 0px;
}
 [class*="chatContent-"],  [class*="tabBody-"] {
	background-color: var(--p-primary);
}
 [class*="messagesWrapper-"],  [class*="peopleColumn-"],  [class*="nowPlayingColumn-"] {
	background-color: var(--background-primary);
	margin: 16px;
	border: .5vh solid;
	border-color: var(--p-secondary);
}
 .chat-2ZfjoI,  .container-2cd8Mz {
	border-left: .5vh solid;
	border-color: var(--p-teriary);
	background-color: var(--p-primary);
}
 .input-1nrc5P {
	color: white;
}
/*Members*/
 .members-3WRCEx{
	margin: 16px;
	border: .5vh solid;
	border-color: var(--p-secondary);
}
 .members-3WRCEx, .members-3WRCEx>div {
	background-color: var(--background-primary);
}
 .hiddenMembers-8kpYM0, .membersWrap-3NUR2t{
	background-color: var(--p-primary);
}

.container-2o3qEW {
	background-color: var(--p-primary);
}

/* user activity (like Listening to Spotify etc.) */
.activity-1-H7Zd {
	color: white;
}

/*Top Bar*/
 .withFrame-2dL45i, .bg-1QIAus{
	background-color: var(--p-primary);
}
 .container-ZMc96U .clickable-ZD7xvu .icon-2xnN2Y{
    color: var(--l-normal);
}
 .container-ZMc96U .clickable-ZD7xvu:hover .icon-2xnN2Y{
	color:var(--l-hover);
}
 .container-ZMc96U .selected-29KTGM .icon-2xnN2Y {
    color: var(--l-active);
}
 .icon-2xnN2Y{
	color: white;
}
 .container-ZMc96U.themed-Hp1KC_ {
	background-color: var(--p-primary);
	border-bottom: 2px !important;
}
.theme-dark .children-3xh0VB:after,.theme-light .children-3xh0VB:after {
	background: linear-gradient(90deg,hsla(0,0%,100%,0) 0,var(--message-background-alt));
}
 .title-17SveM {
	color: white;
}
 .topic-11NuQZ {
	color: white;
}
 .nicknames-10Sg6e {
	color: white;
}
/*Sidebar*/
 .sidebar-1tnWFu:before {
	content: "PESTERCHUM 6.0";
	font-size: 27px;
	font-weight: 700;
	text-align: center;
	padding: 10.8px 0px 10.8px;
	color: white;
}
 .button-12Fmur{
	color: var(--alt-normal);
}
 .button-12Fmur.enabled-9OeuTA:hover {
    color: var(--alt-hover);
    background-color: var(--alt-modifier-selected)
}
 .container-q97qHp {
	color: var(--channels-alt);
}
 .privateChannelsHeaderContainer-1UWASm:hover {
    color: var(--alt-hover)
}
 .base-2jDfDU {
	border: .5vh solid;
	border-color: var(--p-teriary);
}
 .sidebar-1tnWFu {
	border-radius: 0px;
	background: var(--p-primary);
}
.scroller-3X7KbA {
	background-color: var(--p-primary) !important;
}
 .container-1NXEtd {
	background: black;
	margin: 8px;
	margin-top: 0px;
	border: .5vh solid;
	border-color: var(--p-teriary);
}
 .privateChannels-oVe7HL {
	background: black;
	margin: 8px;
	margin-top: 0px;
	border: .5vh solid;
	border-color: var(--p-teriary);
}
 .container-YkUktl {
	background: black;
	margin: 8px;
	border: .5vh solid;
	border-color: var(--p-teriary);
}
 .panels-3wFtMD {
	background-color: var(--p-primary);
}
 .scroller-WSmht3 {
	background: black;
}
/*Channels*/
 .unread-36eUEm {
	background-color: var(--alt-active);
}
 .close-2ISPTL {
	color: var(--alt-normal)
}
 .close-2ISPTL:hover {
    color: var(--alt-hover)
}
 .message-3KLVy1 {
	backrground-color: var(--alt-active);
}

 .wrapper-1S43wv.muted-19J0ih, .wrapper-1S43wv.muted-19J0ih .name-3BUDLf {
	color:var(--alt-muted);
}
 .wrapper-1S43wv.muted-19J0ih:hover .icon-3zI3d2, .wrapper-1S43wv.muted-19J0ih:hover .name-3BUDLf, .wrapper-1S43wv:hover .icon-3zI3d2, .wrapper-1S43wv:hover .name-3BUDLf {
	color: var(--alt-hover);
}
 .modeMuted-2T4MDZ .icon-2W8DHg, .modeMuted-2T4MDZ .name-28HaxV {
	color: var(--alt-muted);
}

 .wrapper-CU3qI5.muted-1NRuDm,.wrapper-CU3qI5.muted-1NRuDm .name-IbjUBS {
    color: var(--alt-muted)
}
 .wrapper-CU3qI5.muted-1NRuDm:hover .icon-WnO6o2,.wrapper-CU3qI5.muted-1NRuDm:hover .name-IbjUBS,.wrapper-CU3qI5:hover .icon-WnO6o2,.wrapper-CU3qI5:hover .name-IbjUBS {
    color: var(--alt-hover)
}

 .privateChannels-oVe7HL .container-1oeRFJ {
	color: var(--channels-alt);
}
 .privateChannels-oVe7HL .clickable-28SzVr.container-1oeRFJ:active, .privateChannels-oVe7HL .highlighted-3PcOfB.container-1oeRFJ, .selected-1-Z6gm.container-1oeRFJ {
	color: var(--alt-active);
}
 .privateChannels-oVe7HL .clickable-28SzVr.container-1oeRFJ:hover, .privateChannels-oVe7HL .clickable-28SzVr.container-1oeRFJ:hover .muted-14PyqW {
	color:var(--alt-hover);
}

 .wrapper-1ucjTd:hover .content-3at_AU {
    background-color: var(--alt-modifier-hover);
}
 .wrapper-1ucjTd:active .content-3at_AU {
    background-color: var(--alt-modifier-active);
}
 .modeSelected-1zApJ_ .content-3at_AU, .modeSelected-1zApJ_:hover .content-3at_AU {
    background-color: var(--alt-modifier-selected);
}
.header-2o-2hj, .title-338goq,  .header-3OsQeK{
	color: var(--alt-active);
}
.item-2LIpTv {
	background-color: var(--alt-active);
}
.name-28HaxV {
	color: var(--channels-alt);
}
.modeConnected-NrO4cP .name-28HaxV, .modeConnected-NrO4cP:hover .name-28HaxV, .modeSelected-3DmyhH .name-28HaxV, .modeSelected-3DmyhH:hover .name-28HaxV, .modeUnread-3Cxepe .name-28HaxV, .modeUnread-3Cxepe:hover .name-28HaxV, .notInteractive-2tFrlE.modeConnected-NrO4cP .name-28HaxV, .notInteractive-2tFrlE.modeSelected-3DmyhH .name-28HaxV {
	color: var(--alt-active);
}
 .modeMuted-onO3r:hover .name-28HaxV, .wrapper-NhbLHG:hover .name-28HaxV {
	color: var(--alt-hover);
}
.modeMuted-on03r .icon-1_QxNX, .modeMuted-3osy7j .name-28HaxV {
	color: var(--alt-muted);
}
.scroller-2TZvBN {
	background: var(--p-primary);
}
.childWrapper-1j_1ub, .wrapper-3kah-n {
	background-color: white;
}
.expandedFolderBackground-2sPsd-, .folder-21wGz3 {
	background-color: white;
}
.childWrapper-1j_1ub {
	color: black;
	}
.wordmark-2u86JB {
	visibility: hidden;
}
.icon-3BcwQu, .username-lm8y6T {
    color: var(--channels-alt);
}
.listDefault-2y5Z9D .clickable-23RaYz.selected-3TGCSZ .username-lm8y6T, .usernameSpeaking-2xbKKh {
    color: var(--alt-active);
}
.listDefault-2y5Z9D .clickable-23RaYz:hover .username-lm8y6T {
	color: var(--alt-hover);
}

 .wordmark-2u86JB:before {
	visibility: visible;
	position: absolute;
    top: 0;
    left: 0;
	padding: 4px 9px 3px;
	content: "PESTERCHUM";
	font-weight: 700;
	font-size: 16px;
	color: white;
}
.message-3KLVy1 {
	color:white;
}
.winButton-3UMjdg {
	color: white;
}
/*vc*/
 .listDefault-2F-w65 .clickable-1ctZ-H.selected-1oxcpH .username-vAneIW, .usernameSpeaking-3FKv6H {
	color: var(--alt-active);
}
.listDefault-2F-w65 .clickable-1ctZ-H:hover .username-vAneIW {
	color: var(--alt-hover);
}
 .icon-N9JZb6, .username-vAneIW {
	color: var(--channels-alt);
}
.wrapper-1gVUIN.minimum-fXpVNc {
	background-color: black;
	margin: 16px;
	margin-bottom: 0px;
	border: .5vh solid;
	border-color: var(--p-secondary);
}

/* certain text changed to white for readability */
h1.name-3Uvkvr, div.name-2m3Cms, svg.button-2BMPJJ, svg.linkButtonIcon-7rsZcu {
	color: white;
}

/* fixes dark mode typing indicator */
span.text-3S7XCz, svg.ellipsis-1e7x0D > g {
	color: black;
}

/* gets rid of the explore public servers button (you can put this back if you like it) */
div.circleIconButton-1VxDrg[aria-label="Explore Public Servers"] {
	display: none;
}

/* smooth transition for background color */
.interactive-1vLZ_I, .content-1gYQeQ {
	transition: background-color 0.08s;
}

/* 
  this stuff is like the server name header and dm list backgrounds. i don't remember what's what oops 
  anyway it makes it easier to see :D
*/
.interactive-1vLZ_I:hover {
	background-color: var(--on-black-color);
}

.header-3OsQeK:hover {
	background-color: var(--on-black-color) !important;
}

.acronym-2zrAHN {
	color: var(--server-icon-col) !important;
}

.content-1gYQeQ:hover {
	background-color: var(--on-black-color) !important;
}
.interactive-1vLZ_I.interactive-iyXY_x > a > div > div.content-66wMin > div.subText-3Sk0zy > .subtext-14b69p {
	color: rgba(180, 180, 180, 1);
}

/* friends -> chums! */
div[aria-controls="add_friend-tab"]:after {
	content: "Add Chum" !important;
}

div[aria-controls="add_friend-tab"] > span {
	display: none;
}

a[href="/channels/@me"] > div > div > div > div {
	display: none;
}

a[href="/channels/@me"] > div > div > div:after {
	visibility: visible;
	content: 'Chums';
	color: white;
}

.container-2cd8Mz > .container-ZMc96U.themed-Hp1KC_ > .children-3xh0VB > h3.title-17SveM {
	visibility: hidden;
	width: 45px;
}

.container-2cd8Mz > .container-ZMc96U.themed-Hp1KC_ > .children-3xh0VB > h3.title-17SveM:after {
	visibility: visible;
	content: 'Chums';
	position: absolute;
	color: black;
}

/* DIRECT MESSAGES -> CHUMROLL */
h2.privateChannelsHeaderContainer-1UWASm > span.headerText-1qIDDT {
	visibility: hidden;
}

h2.privateChannelsHeaderContainer-1UWASm > span.headerText-1qIDDT:after {
	visibility: visible;
	content: 'Chumroll';
	position: absolute;
	color: white;
	left: 12px;
	letter-spacing: .05em;
}

/* top bar changes */
.item-3mHhwr {
	border-radius: 0 !important;
	background-color: var(--p-teriary) !important;
	color: black !important;
	border: .3vh solid;
	border-color: var(--p-secondary);
	margin: 0 5px !important;
}

.iconWrapper-2awDjA > svg, .iconWrapper-2awDjA > svg > foreignObject > svg {
	color: black !important;
}

.iconWrapper-2awDjA > svg:hover, .iconWrapper-2awDjA:hover > svg > foreignObject > svg {
	color: rgba(0, 0, 0, 0.7) !important;
}

div.status-12NUUC > svg {
	background-color: black;
	width: 15px;
	height: 15px;
	border-radius: 50%;
}

div.status-12NUUC > svg > rect {
	margin: 0 auto;
}

.chat-2ZfjoI > .title-31SJ6t.container-ZMc96U.themed-Hp1KC_ > .children-3xh0VB > h3 {
	color: black;
}

.akaBadge-3i7V3p {
	background-color: black;
	color: white;
}

.nicknames-10Sg6e.overflow-1wOqNV {
	color: black;
}

.title-31SJ6t.container-ZMc96U.themed-Hp1KC_ > .children-3xh0VB > .topic-11NuQZ.expandable-3CaLeS {
	color: black;
}

/* text box background */
.channelTextArea-1FufC0, .scrollableContainer-15eg7h {
	background-color: var(--background-primary) !important;
}

/* x button to close dms and + button to start new dm, now white */
.closeIcon-1NwtbI, .privateChannelRecipientsInviteButtonIcon-1ObKXK > polygon {
	color: white !important;
}

/* voice chat buttons */
.button-12Fmur[aria-label="Noise Suppression powered by Krisp"], .button-12Fmur[aria-label="Disconnect"] {
	color: black;
}

.buttonIcon-2Zsrs2.withText-2iJppd {
	margin-right: 4px;
}

.panels-3wFtMD[aria-label="User area"] > .wrapper-3Hk9OB > .container-1zzFcN > .connection-3k9QeF > .inner-llGtyq > div > a > .size12-oc4dx4.subtext-2HDqJ7.channel-3prF2u {
	color: #4F5660;
}

.panels-3wFtMD[aria-label="User area"] > .wrapper-3Hk9OB > .container-1zzFcN > .actionButtons-2vEOUh > .button-1EGGcP {
	background-color: var(--p-teriary);
	border-radius: 0;
	border: .4vh solid;
	border-color: var(--p-secondary) !important;
	height: 36px;
	color: black;
}

/* screenshare colour fixes */
.headerWrapper-1ULEPv > .theme-dark.container-ZMc96U.transparent-1lUmft > .children-3xh0VB > .iconWrapper-2awDjA > svg {
	color: white !important;
}

.headerWrapper-1ULEPv > .theme-dark.container-ZMc96U.transparent-1lUmft > .toolbar-3_r2xA > .iconWrapper-2awDjA > svg {
	color: white !important;
}

/* profile */
.userPopout-2j1gM4 {
	background-color: var(--p-primary) !important;
	border: .4vh solid;
	border-color: var(--p-secondary) !important;
	border-radius: 0;
}

.avatar-2Vndt_ {
	background-color: var(--p-primary);
	border-color: var(--p-primary);
}

.avatar-2Vndt_ > .mask-1FEkla.svg-2azL_l > rect.pointerEvents-9SZWKj[fill="hsl(38, calc(var(--saturation-factor, 1) * 95.7%), 54.1%)"] {
	fill: var(--p-teriary);
}

.bodyInnerWrapper-2bQs1k {
	background-color: white !important;
	border: .4vh solid;
	border-color: var(--p-secondary) !important;
	padding: 4px;
}

.bodyInnerWrapper-2bQs1k > .bodyTitle-2Az3VQ {
	color: #4F5660;
}

.bodyInnerWrapper-2bQs1k > .root-jbEB5E > .role-2TIOKu {
	color: black;
	background-color: #EBEDEF;
}

.textarea-_59yqs {
	background-color: transparent !important;
	padding: 0 0 0 15px;
}

.bodyTitle-2Az3VQ.base-21yXnu.size12-oc4dx4.muted-eZM05q.uppercase-2unHJn {
	padding: 10px 0 0 10px;
}

.profileBadges-2pItdR {
	background-color: black;
	border-radius: 0;
	border: .4vh solid;
	border-color: var(--p-secondary) !important;
	padding: 1px;
}

.footer-3naVBw {
	background-color: var(--p-primary);
}

.inputDefault-3FGxgL.input-2g-os5.input-2z42oC {
	background-color: var(--background-primary);
	border-radius: 0;
	border: .4vh solid;
	border-color: var(--p-secondary) !important;
}

.bodyInnerWrapper-2bQs1k > .note-Go5ZP2 > textarea {
	color: #4F5660;
}

.username-3JLfHz.headerTagUsernameNoNickname-1TjuLc.headerTagUsernameBase-XYisdh, .customStatusText-3wj79x, .userInfoBody-1zgAd0.markup-eYLPri.clamped-2ZePhX {
	color: black;
}

.headerTagDiscriminatorNoNickname-dfcvHa.discrimBase-1VOoau, .userInfoTitle-39qq0Y.base-21yXnu.size12-oc4dx4.muted-eZM05q.uppercase-2unHJn {
	color: #4F5660;
}

.userPopout-2j1gM4 > .headerTop-3GPUSF > .headerText-1-WmDq > .nickname-t08Mck {
	color: black;
}

.userPopout-2j1gM4 > .headerTop-3GPUSF > .headerText-1-WmDq > .headerTagWithNickname-1U8zZH > span {
	color: #4F5660;
}

.activityUserPopout-2MzGCj.activity-1gTu-L.newPopoutActivityStyles > div > h3 > div {
	color: #4F5660;
}

.activityUserPopout-2MzGCj.activity-1gTu-L.newPopoutActivityStyles > div > div > span {
	color: black !important;
}

.activityUserPopout-2MzGCj.activity-1gTu-L.newPopoutActivityStyles > div > div > h3 > span {
	color: black !important;
}

/* expanded profile thing like the one when you click on the pfp */
.focusLock-2tveLW > .root-8LYsGj.root-g14mjS.small-23Atuv.fullscreenOnMobile-ixj0e3 {
	border-radius: 0;
	border: .4vh solid;
	border-color: var(--p-secondary) !important;
}

.focusLock-2tveLW > .root-8LYsGj.root-g14mjS.small-23Atuv.fullscreenOnMobile-ixj0e3 > .topSection-13QKHs, .focusLock-2tveLW > .root-8LYsGj.root-g14mjS.small-23Atuv.fullscreenOnMobile-ixj0e3 > .body-1Ukv50 {
	background-color: var(--p-primary) !important;
}

.topSection-13QKHs > header > .header-S26rhB > div > .avatar-3QF_VA.wrapper-1VLyxH {
	background-color: var(--p-primary) !important;
	border-color: var(--p-primary);
}

.topSection-13QKHs > header > .header-S26rhB > div > .avatar-3QF_VA.wrapper-1VLyxH > svg > rect[fill="hsl(38, calc(var(--saturation-factor, 1) * 95.7%), 54.1%)"] {
	fill: var(--p-teriary);
}

.focusLock-2tveLW > .root-8LYsGj.root-g14mjS.small-23Atuv.fullscreenOnMobile-ixj0e3 > .topSection-13QKHs > .tabBarContainer-sCZC4w > .tabBar-2hXqzU.top-K_jibn {
	height: 45px;
}

.focusLock-2tveLW > .root-8LYsGj.root-g14mjS.small-23Atuv.fullscreenOnMobile-ixj0e3 > .topSection-13QKHs > .tabBarContainer-sCZC4w > .tabBar-2hXqzU.top-K_jibn > .tabBarItem-30Te4-.item-3XjbnG.themed-2-lozF {
	background-color: var(--p-teriary);
	border: .4vh solid;
	border-color: var(--p-secondary) !important;
	color: black;
	margin: 0 5px 8px 5px;
	padding: 8px;
}

.headerTop-1PNKck > .relationshipButtons-3ByBpj > .actionButton-iarQTd.button-f2h6uQ.lookFilled-yCfaCM.colorGreen-3y-Z79 {
	background-color: var(--p-teriary);
	border-radius: 0;
	border: .4vh solid;
	border-color: var(--p-secondary) !important;
	color: black !important;
	height: 35px;
}

.headerTop-1PNKck > .relationshipButtons-3ByBpj > div > svg > g {
	color: black !important;
}

.root-8LYsGj.root-g14mjS.small-23Atuv.fullscreenOnMobile-ixj0e3 > .topSection-13QKHs > header > .nameTagNoCustomStatus-3ocqoK.nameTag-2Nlmsy.nameTag-H6kSJ0 > .username-3JLfHz.username-1g6Iq1 {
	color: black !important;
}

.root-8LYsGj.root-g14mjS.small-23Atuv.fullscreenOnMobile-ixj0e3 > .topSection-13QKHs > header > .nameTagNoCustomStatus-3ocqoK.nameTag-2Nlmsy.nameTag-H6kSJ0 > .discriminator-1bqsd3, .userInfoSection-2u2hir > .userInfoSectionHeader-2mYYun {
	color: #4F5660;
}

.userInfoSection-2u2hir > .userInfoText-2MFCmH.markup-eYLPri.clamped-2ZePhX {
	color: black;
}

.userInfoSection-2u2hir > .connectedAccounts-1YaT2t > .connectedAccount-1xKpli {
	background-color: var(--background-primary) !important;
}

.userInfoSection-2u2hir > .connectedAccounts-1YaT2t > .connectedAccount-1xKpli {
	background-color: white;
	border-radius: 0;
	border: .4vh solid;
	border-color: var(--p-secondary) !important;
}

.userInfoSection-2u2hir > .note-3M15gE > textarea {
	background-color: var(--background-primary) !important;
	border: .4vh solid;
	border-color: var(--p-secondary) !important;
	border-radius: 0;
	padding: 6px;
}

.relationshipButtons-3ByBpj > .actionButton-iarQTd.button-f2h6uQ.lookFilled-yCfaCM.colorGreen-3y-Z79 > div {
	visibility: hidden;
	width: 40px;
}

.relationshipButtons-3ByBpj > .actionButton-iarQTd.button-f2h6uQ.lookFilled-yCfaCM.colorGreen-3y-Z79 > div:after {
	visibility: visible;
	content: "Pester";
	position: absolute;
	left: 10px;
}

.focusLock-2tveLW > .root-8LYsGj.root-g14mjS.small-23Atuv.fullscreenOnMobile-ixj0e3 > .topSection-13QKHs > .tabBarContainer-sCZC4w > .tabBar-2hXqzU.top-K_jibn > .tabBarItem-30Te4-.item-3XjbnG.themed-2-lozF[aria-controls="user_info-tab"] {
	visibility: hidden;
	overflow: visible;
}

.focusLock-2tveLW > .root-8LYsGj.root-g14mjS.small-23Atuv.fullscreenOnMobile-ixj0e3 > .topSection-13QKHs > .tabBarContainer-sCZC4w > .tabBar-2hXqzU.top-K_jibn > .tabBarItem-30Te4-.item-3XjbnG.themed-2-lozF[aria-controls="user_info-tab"]:after {
	visibility: visible;
	content: "Chum Info";
	position: absolute;
	left: 0;
	background-color: var(--p-teriary);
	border: .4vh solid;
	border-color: var(--p-secondary) !important;
	color: black;
	padding: 4px 4px;
}

.focusLock-2tveLW > .root-8LYsGj.root-g14mjS.small-23Atuv.fullscreenOnMobile-ixj0e3 > .topSection-13QKHs > .tabBarContainer-sCZC4w > .tabBar-2hXqzU.top-K_jibn > .tabBarItem-30Te4-.item-3XjbnG.themed-2-lozF[aria-controls="mutual_friends-tab"] {
	visibility: hidden;
	overflow: visible;
}

.focusLock-2tveLW > .root-8LYsGj.root-g14mjS.small-23Atuv.fullscreenOnMobile-ixj0e3 > .topSection-13QKHs > .tabBarContainer-sCZC4w > .tabBar-2hXqzU.top-K_jibn > .tabBarItem-30Te4-.item-3XjbnG.themed-2-lozF[aria-controls="mutual_friends-tab"]:after {
	visibility: visible;
	content: "Mutual Chums";
	position: absolute;
	left: 0;
	background-color: var(--p-teriary);
	border: .4vh solid;
	border-color: var(--p-secondary) !important;
	color: black;
	padding: 4px 6px;
}

/* list */
.sidebar-1tnWFu {
	width: 300px;
}

ul[aria-label="Direct Messages"] > li > div {
	width: 257px;
}

/* game activity bottom left */
.gameWrapper-2TFy7F.clickableGameWrapper-1xHQQL > .info-88fTUI > .size14-3fJ-ot.title-338goq {
	color: black;
}

.panel-2ZFCRb.activityPanel-9icbyU > .body-1FrnJD > .actions-zk2vB_ > .disabledButtonWrapper-2Oz3aY > button, .panel-2ZFCRb.activityPanel-9icbyU > .body-1FrnJD > .actions-zk2vB_ > button {
	color: black !important;
}